.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.slash{
    height: 100%;
    width: 1px;
    color: var(--black-text-color);
    margin-left: 5px;
    margin-right: 8px;
}

.nav-side-left{
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-side-right{
    display: flex;
    justify-content: right;
    align-items: center;
}

.main-logo{
    margin-right: 10px;
    width: 64px;
    height: 64px;
    animation: rotation 3s infinite linear;
}

.user-box{
    
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
     text-align: center;
     
}
.user-info{
    margin-right: 50px;
}
.user-text{
    font-size: 15px;
    color: var(--black-text-color);
    margin-left: 5px;
    margin-top: 20px;
}
.logout-btn{
    margin-right: 10px;
}

//CART MENU

.cart-menu-btn{
  position: relative;  
  margin-right: 50px;
}

.cart-menu-btn .cart-indicator{
  width: 18px;
  height: 15px;
  background-color: #e00a02;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  top: -3px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-menu-btn .noCartItem {
  display: none;
}