.one-shop-box{
    padding: 0px;
}
.shop-product-msg{
    font-size: 15px;
}

.shop-product-list{
    display: flex;
    flex-direction: column;
}

.shop-block{
    max-width: 250px;
    border: 1px solid var(--black-border-color);
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.shop-img{
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}

.shop-description-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    padding: 0;
}

.shop-title{
    font-size: 15px;
    color: var(--black-text-color);
}

.shop-description{
    font-size: 13px;
    color: var(--black-text-color);
}

.add-to-cart-btn{
    width: 110px;
    height: 30px;
    font-size: 13px;
    align-self: flex-end;
    text-transform: uppercase;
    position: relative;
}
.hide{
    display: none;
}
.add-to-cart-btn:hover .hide {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-75%, 50%);
    display: inline-flex;
    width: 150px;
    height: 50px;
    font-size: 13px;
    padding: 3px;
    backdrop-filter: blur(10px);
    opacity: 0.8;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  
}

@media screen and (min-width: 480px) and (max-width: 767px){
   .shop-product-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
.shop-block{
    max-width: 220px;
    margin-bottom: 15px;
}
.shop-img{
margin-bottom: 10px;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .shop-product-msg{
    font-size: 20px;
}
.shop-product-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
.shop-block{
    max-width: 300px;
    margin-bottom: 20px;
}
.shop-img{
margin-bottom: 10px;
}
.shop-description{
    font-size: 13px;
}
}
@media screen and (min-width: 1200px){
    .shop-product-msg{
    font-size: 30px;
}
.shop-product-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.shop-block{
    max-width: 450px;
    margin-bottom: 30px;
}
.shop-img{
height:250px;
margin-bottom: 15px;
}
.shop-description-info{
    padding: 0 10px;
}
.shop-title{
    font-size: 25px;
}
.shop-description{
    font-size: 20px;
}
.add-to-cart-btn{
    width: 150px;
    height: 40px;
    font-size: 18px;
}
}